{% extends "::base.html.twig" %}

{% block banner %}
    <div class="page-header">
        <div class="container text-center">
            <h2>{{ 'slogan'|trans }}</h2>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-panel">
                    <h2 class="title">{{ 'wanted.title'|trans }}</h2>
                </div>
                <div class="row">
                    {% for item in featured_items %}
                        <div class="col-xs-12 col-ms-6 col-sm-6 col-md-4 col-lg-3">
                            {% include 'item/card.html.twig' with {'item': item} %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="heading-panel">
                    <h2 class="title">{{ 'story.title'|trans }}</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-ms-6 col-sm-6 col-md-4 col-lg-3">
                <div class="item-card">
                    <div class="item-header">
                        <img class="img-responsive" src="https://media.licdn.com/mpr/mpr/AAEAAQAAAAAAAAUxAAAAJGI4OTIwYzc1LWRhOWItNGY3Mi05MTBiLTljMjdiOWJlMjM2NA.jpg" alt="Paperclip" />

                        <div class="item-description">
                            {{ 'story.from.description'|trans }}
                        </div>
                    </div>
                    <div class="item-content">
                        <div class="item-content-header">
                            <h3 class="item-title">{{ 'story.from.title'|trans }}</h3>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-4">
                                <div class="item-value">
                                    <span>0.01€</span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-8">
                                <div class="item-category">
                                    <span>{{ 'story.from.category'|trans }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-ms-6 col-sm-6 col-md-4 col-lg-3">
                <div class="item-card">
                    <div class="item-header">
                        <img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b4/Red-paperclip-news-1.jpg/220px-Red-paperclip-news-1.jpg" alt="Two-story farmhouse" />

                        <div class="item-description">
                            {{ 'story.to.description'|trans }}
                        </div>
                    </div>
                    <div class="item-content">
                        <div class="item-content-header">
                            <h3 class="item-title">{{ 'story.to.title'|trans }}</h3>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-4">
                                <div class="item-value">
                                    <span>1,000,000.00€</span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-8">
                                <div class="item-category">
                                    <span>{{ 'story.to.category'|trans }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
