<div class="transparent-header">
    <!-- Navigation Menu -->
    <nav id="menu-1" class="mega-menu">
        <!-- menu list items container -->
        <section class="menu-list-items">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <!-- menu logo -->
                        <ul class="menu-logo">
                            <li>
                                <a href="{{ path('homepage') }}"><img src="{{ asset('images/logo.png') }}" alt="Dinder"> </a>
                            </li>
                        </ul>
                        <!-- menu links -->
                        <ul class="menu-links">
                            <li><a href="{{ path('item_index') }}">Items</a></li>
                            <li>
                                <a href="{{ path('match_index') }}">
                                    Matches
                                    {% if app.user %}
                                        {{ unseen_count.countUnseed(app.user) }}
                                    {% endif %}
                                </a>
                            </li>
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <li><a href="{{ path('fos_user_security_logout') }}">Log out</a></li>
                                <li><a href="{{ path('user_show') }}">User Profile</a></li>
                            {% else %}
                                <li><a href="{{ path('fos_user_security_login') }}">Log in</a></li>
                                <li><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
                            {% endif %}
                        </ul>
                        {% if app.user %}
                            <ul class="menu-search-bar">
                                <li>
                                    <a href="{{ path('item_new') }}" class="btn btn-light"><i class="fa fa-plus" aria-hidden="true"></i> Add New Item</a>
                                </li>
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </nav>
</div>
<!-- Navigation Menu End -->
<!-- =-=-=-=-=-=-= Transparent Header End =-=-=-=-=-=-= -->
<!-- Home Banner 1 -->
<section id="hero" class="hero bg-img">
    <div class="content">
        <p>Rejoice in <b>Exchange</b></p>
    </div>
    <!-- .content -->
</section>
<!-- Home Banner 1 End -->
