{% extends 'base.html.twig' %}

{% block title %}Dinder - {{ 'item.edit.title'|trans }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <h2 class="title">{{ 'item.edit.title'|trans }}</h2>

                <div class="alert alert-warning">{{ 'item.edit.message'|trans }}</div>

                {{ form_start(edit_form, {'attr': {'class': 'submit-form'}}) }}

                    {{ form_row(edit_form.title) }}

                    <div class="form-group">
                        {{ form_label(edit_form.value) }}

                        <div class="input-group">
                            {{ form_widget(edit_form.value, {'attr': {'data-margin': item_match_margin}}) }}
                            <div class="input-group-addon">€</div>
                        </div>

                        {{ form_errors(edit_form.value) }}

                        <p class="help-block">
                            This item will be traded with other items in this value range:
                            <span id="appbundle_item_value_margins"></span>
                        </p>
                    </div>

                    {{ form_rest(edit_form) }}
                    <button class="btn btn-default">{{ 'item.button.submit'|trans }}</button>
                    <input class="btn btn-primary pull-right" form="delete-form" type="submit" value="{{ 'item.button.delete'|trans }}">

                {{ form_end(edit_form) }}

                {{ form_start(delete_form, {'attr': {'id': 'delete-form'}}) }}
                {{ form_end(delete_form) }}
            </div>
        </div>
    </div>
{% endblock %}
