{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div>
            <a class="btn btn-default" href="{{ path('item_new') }}" role="button">Create a new item</a>
        </div>
        <h1>My items</h1>
        <div class="row">
            {% for item in items %}
                <div class="col-sm-6 col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">{{ item.title }}</div>
                        <div class="pabel-body">
                            <a href="{{ path('item_show', { 'id': item.id }) }}" class="thumbnail">
                                {% if item.mainImage %}
                                    <img src="{{ vich_uploader_asset(item.mainImage, 'file')}}" alt="{{ item.title }}" />
                                {% else %}
                                    <img src="https://lorempixel.com/640/480/no/picture" alt="no image" />
                                {% endif %}
                                <span class="badge">&euro;{{ item.value }}</span>
                                <span class="text-right label label-default">{{ item.category.title }}</span>
                            </a>
                            <ul>
                                {% for categoryToMatch in item.categoriesToMatch %}
                                    <li>{{ categoryToMatch.title }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                Approved
                                <span class="badge">{{ item.approvals }}</span>
                            </li>
                            <li class="list-group-item">
                                Rejected
                                <span class="badge">{{ item.rejections }}</span>
                            </li>
                        </ul>
                        <div class="panel-footer">
                            <a class="btn btn-default" href="{{ path('item_edit', { 'id': item.id }) }}" role="button">edit</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
