{% extends 'base.html.twig' %}

{% block title %}Dinder - {{ 'item.index.title'|trans }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs nav-tabs-load" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#items-active" aria-controls="items-active" role="tab" data-toggle="tab" data-load="{{ path('items_load', {'type': 'active'}) }}">
                            {{ 'item.index.active'|trans }}
                            <span class="badge">{{ items|length }}</span>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#items-traded" aria-controls="items-traded" role="tab" data-toggle="tab" data-load="{{ path('items_load', {'type': 'traded'}) }}">
                            {{ 'item.index.traded'|trans }}
                            <span class="badge {% if app.user and unseen_count.countUnseenItems(app.user) > 0 %} badge-highlight{% endif %}">{{ traded_items|length }}</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="items-active"></div>
                    <div role="tabpanel" class="tab-pane fade" id="items-traded"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exchangeModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div id="swing"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        var matchUrl = '{{ path('item_match') }}';
        var fetchUrl = null;
        var itemId = null;
    </script>
    {{ parent() }}
{% endblock %}
