{% extends 'base.html.twig' %}

{% block body %}
    <!-- =-=-=-=-=-=-= Latest Ads =-=-=-=-=-=-= -->
    <section class="section-padding gray ">
        <!-- Main Container -->
        <div class="container">
            <!-- Row -->
            <div class="row">
                <div class="col-md-12">
                    <!-- end post-padding -->
                    <div class="post-ad-form extra-padding postdetails">
                        <div class="heading-panel">
                            <h3 class="main-title text-left">
                                Post New Item
                            </h3>
                        </div>
                        {{ form_start(form, {'attr': {'class': 'submit-form'}}) }}
                        <div class="ImageCollection">
                            <h4 class="ImageCollection-title">Images</h4>
                            <div class="ImageCollection-list" data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}">
                                {% for image in form.images %}
                                    {{ form_row(image) }}
                                {% endfor %}
                            </div>
                        </div>
                        {{ form_rest(form) }}
                        <button class="btn btn-theme">Submit</button>
                        {{ form_end(form) }}
                    </div>
                    <!-- end post-ad-form-->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- Main Container End -->
    </section>
{% endblock %}
