{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <h2 class="title">Post New Item</h2>

                <div class="alert alert-info">
                    Please make sure that entered data is correct.<br>
                    If you edit item - all sent and received offers will be deleted.
                </div>

                {{ form_start(form, {'attr': {'class': 'submit-form'}}) }}
                    {{ form_row(form.title) }}

                    <div class="form-group">
                        {{ form_label(form.value) }}

                        <div class="input-group">
                            {{ form_widget(form.value, {'attr': {'data-margin': item_match_margin}}) }}
                            <div class="input-group-addon">€</div>
                        </div>

                        {{ form_errors(form.value) }}

                        <p class="help-block">
                            This item will be traded with other items in this value range:
                            <span id="appbundle_item_value_margins"></span>
                        </p>
                    </div>

                    {{ form_rest(form) }}
                    <button class="btn btn-default">Submit</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
