{% extends 'base.html.twig' %}

{% block body %}
    <h1>Item creation</h1>

    {{ form_start(form) }}

    <h2>Images</h2>
    <ul class="images" data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}">
        {% for image in form.images %}
            {{ form_row(image.file) }}
        {% endfor %}
    </ul>

    {{ form_rest(form) }}
    <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('item_index') }}">Back to the list</a>
        </li>
    </ul>

    <script type="text/javascript">
        // setup an "add image" link
        var $addImageLink = $('<a href="#" class="add_image_link">Add image</a>');
        var $newLinkLi = $('<li></li>').append($addImageLink);

        jQuery(document).ready(function() {
            // Get the ul that holds the collection of images
            var $collectionHolder = $('ul.images');

            // add the "add image" anchor and li to the images ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new input (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addImageLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new image form (see code block below)
                addTagForm($collectionHolder, $newLinkLi);
            });
        });

        function addTagForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '$$name$$' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add image" link li
            var $newFormLi = $('<li></li>').append(newForm);

            // also add a remove button, just for this example
            $newFormLi.append('<a href="#" class="remove-image">x</a>');

            $newLinkLi.before($newFormLi);

            // handle the removal, just for this example
            $('.remove-image').click(function(e) {
                e.preventDefault();

                $(this).parent().remove();

                return false;
            });
        }
    </script>
{% endblock %}
