{% extends 'base.html.twig' %}

{% block body %}
    <h1>Item</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ item.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ item.title }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ item.value }}</td>
            </tr>
            <tr>
                <th>Approvals</th>
                <td>{{ item.approvals }}</td>
            </tr>
            <tr>
                <th>Rejections</th>
                <td>{{ item.rejections }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if item.created %}{{ item.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Expires</th>
                <td>{% if item.expires %}{{ item.expires|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Items to match</th>
                <td>
                    <ul>
                        {% for item_to_match in items_to_match %}
                            <li>{{ item_to_match.id }} - {{ item_to_match.title }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('item_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('item_edit', { 'id': item.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
